<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:jaws="http://cxf.apache.org/jaxws" xmlns:soap="http://cxf.apache.org/bindings/soap"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd
        http://cxf.apache.org/jaxws
        http://cxf.apache.org/schemas/jaxws.xsd">
    <!--引入CXF配置文件，低版本还需引入其他文件-->
    <import resource="classpath:META-INF/cxf/cxf.xml" />
    <import resource="classpath:META-INF/cxf/cxf-servlet.xml" />

    <jaws:endpoint id="helloService" implementorClass="com.mavenpro.webservice.cxf.ISayHello" address="/sayHelloService"/>

    <!--<jaws:server serviceClass="com.mavenpro.webservice.cxf.SayHelloImpl" address="/sayHello"/>
-->
    <jaws:endpoint id="userService" implementorClass="com.mavenpro.webservice.cxf.UserWSImpl" address="/userWebservice"/>
</beans>